<div class="container">
  <div class="row">
    <h1 class="display-4">Table</h1>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <table class="table table-bordered ">
          <thead class="thead-dark">
            <tr>
              <th style="vertical-align: middle" *ngFor="let x of headers" [class.off]="display[x]" [attr.rowspan]="!colspan[x]?2:''" [attr.colspan]="colspan[x]" >
                  {{x}}
              </th>
            </tr>
            <tr>
              <th *ngFor="let k of subheaders" [class.off]="display[k]">
                {{k}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data" >
              <td *ngFor="let k of keysForData" [class.off]="display[k]">
                {{d[k]?d[k]:'-'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <ul>
          <li *ngFor="let x of nameCheckbox">
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active" *ngIf="!x['sub-head']; else checkSubhead">
                <input type="checkbox" (click)="displayOffHeads($event, x.name)" [checked]="setChecked[x.name]">{{x.name}}
              </label>
            </div>
            <ng-template #checkSubhead>
              <label [ngClass]="setChecked[x.name]?btn[0]:btn[1]">
                <input type="checkbox" (click)="displayOffHeadAndSub($event, x.name, x['sub-head'])" [checked]="setChecked[x.name]">{{x.name}}
              </label>
              <ul>
                <li *ngFor="let z of x['sub-head']">
                  <div class="btn-group-toggle" data-toggle="buttons">
                    <label [ngClass]="setChecked[z.name]?btn[0]:btn[1]">
                      <input type="checkbox" (click)="displayOffSub($event, z.name, x.name)" [checked]="setChecked[z.name]">{{z.name}}
                    </label>
                  </div>
                </li>
              </ul>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
